<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Character Sheets Central - App Consent</title>
    <th:block th:insert="~{fragments/header.fragment :: headerFiles}"></th:block>
</head>
<body>
<th:block th:insert="~{fragments/header.fragment :: pageHeader}"></th:block>

<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <h1 class="mb-4">App Consent</h1>

            <form id="consentForm" name="consent-form" method="post" th:action="@{/oauth2/authorize}">
                <input type="hidden" name="client_id" th:value="${clientId}">
                <input type="hidden" name="state" th:value="${state}">

                <div class="card">
                    <div class="card-body">
                        <p>
                            The application
                            <span class="font-weight-bold text-primary" th:text="${clientId}"></span>
                            wants to access your account
                            <span class="font-weight-bold" th:text="${principalName}"></span>.
                        </p>
                        <p>
                            The following permissions are requested by the above app.<br/>Please review
                            these and consent if you approve.
                        </p>

                        <div th:each="scope: ${scopes}" class="form-group form-check py-1">
                            <input class="form-check-input" type="checkbox" name="scope" id="newScopeId"
                                   th:value="${scope.scope}" th:id="${scope.scope}">
                            <label class="form-check-label font-weight-bold" for="newScopeId"
                                   th:for="${scope.scope}" th:text="${scope.scope}"></label>
                            <p class="text-primary" th:text="${scope.description}"></p>
                        </div>

                        <p th:if="${not #lists.isEmpty(previouslyApprovedScopes)}">You have already granted the
                            following
                            permissions to the above app:</p>
                        <div th:each="scope: ${previouslyApprovedScopes}" class="form-group form-check py-1">
                            <input class="form-check-input" type="checkbox" id="existingScopeId"
                                   th:id="${scope.scope}" disabled checked>
                            <label class="form-check-label font-weight-bold" for="existingScopeId"
                                   th:for="${scope.scope}" th:text="${scope.scope}"></label>
                            <p class="text-primary" th:text="${scope.description}"></p>
                        </div>

                        <button class="btn btn-block btn-primary" type="submit">Sign in</button>
                        <button class="btn btn-block btn-outline-danger" type="button" onclick="cancelConsent();">
                            Cancel
                        </button>
                    </div>
                    <div class="card-footer small">
                        Your consent to provide access is required.
                        <br/>If you do not approve, click Cancel, in which case no information will be shared with the
                        app.
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    function cancelConsent() {
        var consentForm = document.getElementById('consentForm')
        consentForm.reset();
        consentForm.submit();
    }
</script>
</html>
