<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Character Sheets Central - Create Account</title>
    <th:block th:insert="~{fragments/header.fragment :: headerFiles}"></th:block>
</head>
<body>
<nav class="navbar navbar-expand navbar navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/login}">Character Sheets Central</a>
    </div>
</nav>

<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <h1 class="mb-4">Create Account</h1>

            <form class="form-sign-in" method="post" th:action="@{/signup}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                <div class="card">
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="registrationCodeInput" class="form-label">Enter your registration code</label>
                            <input class="form-control" id="registrationCodeInput" name="registrationCode" required
                                   th:value="${registrationCode}"
                                   th:classappend="${fieldErrors.containsKey('registrationCode')}? 'is-invalid'"/>
                            <div class="invalid-feedback" th:text="${fieldErrors.get('registrationCode')}"></div>
                        </div>
                        <div class="mb-3">
                            <label for="usernameInput" class="form-label">Choose a username</label>
                            <input class="form-control" id="usernameInput" name="username" required minlength="3"
                                   th:value="${param.username}"
                                   th:classappend="${fieldErrors.containsKey('username')}? 'is-invalid'"/>
                        </div>
                        <div class="mb-3">
                            <label for="passwordInput" class="form-label">Enter a password</label>
                            <input class="form-control" type="password" id="passwordInput" name="password" required minlength="3"
                                   th:classappend="${fieldErrors.containsKey('password')}? 'is-invalid'"/>
                        </div>
                        <div class="mb-3">
                            <label for="passwordRepeatInput" class="form-label">Enter your password again</label>
                            <input class="form-control" type="password" id="passwordRepeatInput" name="passwordRepeat" required
                                   minlength="3"
                                   th:classappend="${fieldErrors.containsKey('passwordRepeat')}? 'is-invalid'"/>
                        </div>

                        <button class="btn btn-block btn-primary" type="submit">Create account</button>
                    </div>
                    <div class="card-footer">
                        Already have an account? <a th:href="@{/login}">Log in</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
